.button {
  border: none;
  z-index: 20;
  box-sizing: border-box;
  text-align: center;
  font-family: Poppins;
  line-height: normal;
  line-height: normal;
  font-style: normal;


  color: #FFF;
  background: var(--rosa-primario, #F71963);


  &:hover {
    transition: all ease-in-out 0.2s;
    outline: 1px solid #3F3F40;
    color: var(--Preto, #3F3F40);
    background-color: #FFF;
  }
  
  &.extra-large {
    padding: 16px 55px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
  }

  &.large {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: .75rem;
    padding: .75rem 3.75rem;
    border-radius: 4px;
    border: none;
  }

  &.medium{
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    border-radius: .625rem;
    width: 8.1875rem;
    height: 3rem;
    flex-shrink: 0;
  }

  &.small {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    padding: .6875rem 1.25rem;
    flex-shrink: 0;
    border-radius: 4px;
  }

  &.bold {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1.28px;
    text-transform: uppercase;
  }
}