.button {
  border: none;
  z-index: 20;
  &.extra-large {
    width: 227px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--rosa-primario, #F71963);
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &.large {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    margin-top: .75rem;
    padding: .75rem 3.75rem;
    border-radius: 4px;
    background: var(--rosa-primario, #F71963);
    border: none;
  }

  &.medium{
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;

    border-radius: .625rem;
    background: var(--rosa-primario, #F71963);
    width: 8.1875rem;
    height: 3rem;
    flex-shrink: 0;
    border: none;
  }

  &.small {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */

    padding: .6875rem 1.25rem;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--rosa-primario, #F71963);
  }

  &.bold {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
  }
}